@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

<form method="post">
    @Html.ValidationSummary(false)
    @Html.LabelFor(p => p.Email)
    @Html.TextBoxFor(p => p.Email)
    <button type="submit">Reset</button>
</form>

